{% extends "polls/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div style="margin-bottom: 15px;">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login" class="button">
    </form>
{% endblock %}
